*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background: #FFD6E0;
    color: #5F4E4A;
}
nav{
    display: flex;
    align-items: center;
    background: #5F4E4A;
    padding: 20px 40px;
    justify-content: space-between;
}

.logo{
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    
}
.logo h1{
    font-size: 30px;
}
.logo img{
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
.icons{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.menu a,
.icons a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.menu a:hover,
.icons a:hover{
    color: #FFD6E0;
    transform: scale(1.15) translateY(-2px);
}
.hero{
    height:90vh;
    background-image:url("../images/hero4.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.25); 
}
.hero-text{
    position:relative;
    text-align:center;
    color:#5F4E4A;
    animation:up 1.5s ease;
}

.hero-text h1{
    font-size:120px;
    font-family:"Brush Script MT", cursive;
    font-weight:normal;
    line-height:1.1;
    margin-bottom:15px;
}

.hero-text p{
    font-size:25px;
    font-style:italic;
    letter-spacing:1px;
}

@keyframes up{
    from{
        opacity:0;
        transform:translateY(60px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
h2{
    color: #5F4E4A;
    font-size: 40px;
}
p{
    color: #a37b73;
    font-size: 20px;
}
/* Products grid */
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* at least 260px can fit in 1 row */
    gap: 30px;
    padding: 20px 60px 60px 60px;
}

.product-card{
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3{
    color: #5F4E4A;
    margin: 15px 0 5px 0;
}

.product-card p{
    color: #a37b73;
    font-size: 15px;
    margin: 0 0 15px 0;
}

.product-card button{
    background: #5F4E4A;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.product-card button:hover{
    background: #FFD6E0;
    color: #5F4E4A;
}
footer{
    background-color: #5F4E4A;
    color: white;
    padding: 50px 80px 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-about{
    max-width: 300px;
}

.footer-about h2{
    font-size: 50px;
    color: white;
    margin-bottom: 15px;
}

.footer-about p{
    line-height: 1.8;
    color: white;
    font-size: 15px;
}
.footer-section{
    display: flex;
    flex-direction: column;

}
.footer-menu{
    list-style: none;
}
.footer-section h3{
    color: #976672;
    margin-bottom: 15px;
    font-size: 20px;
}

footer hr{
    border: none;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
    margin: 40px 0 20px;
}

.copyright{
    text-align: center;
    color: white;
    font-size: 14px;
}